Source: power-monitor-d
Section: main
Priority: optional
Maintainer: Augusto Hernández <ahernama@ull.edu.es>
Build-Depends: debhelper (>= 9), dh-systemd (>= 1.5)

Package: power-monitor-d
Architecture: all
Depends: ${misc:Depends}
Description: This package gets node's power and Temperature data. The service will be in charge of data synchronization every 5 minutes and will be located in /home/$USER/power-data.
