[Unit]
Description= Timer that executes power-monitor-d.service every 5 minutes
Requires=power-monitor-d.service

[Timer]
OnUnitActiveSec=5min
OnBootSec=1min
Unit=power-monitor-d.service

[Install]
WantedBy=multi-user.target
