#!/usr/bin/make -f

PACKAGE_NAME=power-monitor-d

clean:
	dh $@

build:
	dh $@ 
override_dh_auto_install:
	#mkdir -p debian/$(PACKAGE_NAME)/home/$(USER)/.config/systemd/user
	mkdir -p debian/$(PACKAGE_NAME)/usr/share/power-data/src
    #install -D -m 755 power-monitor-d debian/$(PACKAGE_NAME)/usr/bin/power-data/src/power-monitor-d
    #install -D -m 755 power_monitor_tools.py debian/$(PACKAGE_NAME)/usr/bin/power-data/src/power_monitor_tools.py

	dh_auto_install
	dh_systemd_enable  || true
	dh_systemd_start --no-start || true

binary:
	dh $@ --with-systemd, python3
